<html>
<form method="POST">
    {{ form.hidden_tag() }} <!-- CSRF token -->

    {% for question in questions %}
        <div class="question">
            <h4>{{ question.text }}</h4>
            <div>
                {% set field_name = 'question_' + question.id|string %}
                <div>
                    {{ form[field_name] }}  <!-- This properly renders the radio field -->
                </div>
            </div>
        </div>
    {% endfor %}



    <button type="submit">Submit</button>
</form>



</html>

